@page "{id}"
@model NoTrick.Web.Pages.Admin.Supplier.Managers

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Managers</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Supplier/Index">Suppliers</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Admin/Supplier/Edit" asp-route-id="@Model.Supplier.Id">@Model.Supplier.CompanyName</a></li>
                    <li class="breadcrumb-item active">Managers</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i></button>
                <table class="table table-borderless">
                    <tr>
                        <th>Manager Id</th>
                        <th>Manager Name</th>
                    </tr>
                    @foreach (var manager in Model.SupplierManager) {
                        <tr>
                            <td>
                                <span>@manager.AccountId</span>
                            </td>
                            <td>
                                <span>@manager.PreferredFirstLastName</span>
                            </td>
                            <td>
                                <div class="d-flex flex-row flex-wrap">
                                    <a class="btn btn-outline-danger m-1" asp-page="Managers" asp-page-handler="Remove" asp-route-id="@Model.Supplier.Id" asp-route-managerId="@manager.AccountId"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Add New Manager to @Model.Supplier.CompanyName</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form asp-page-handler="Add">
              <div class="modal-body">
                  <input id="SupplierId" hidden value="@Model.Supplier"/>
                  <div class="form-group-lg">
                      <label>Manager Id: </label>
                      <input asp-for="@Model.ManagerId" required/>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>
  
<!-- /.main-content -->
